{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        <!-- form 태그에 action 속성을 지정하지 않았다는 점
        보통 form 태그에는 항상 action 속성을 지정하여 submit 실행시 action에 정의된 URL로 폼을 전송해
        여기서는 특별하게 action 속성을 지정하지 않음 
        form 태그에 action 속성을 지정하지 않으면 현재 페이지의 URL이 디폴트 action으로 설정 -->

        <!-- 물론 action 속성을 다음처럼 명확하게 지정
        하지만 이렇게 하면 question_form.html 템플릿은 "질문 등록" 에서만 사용 가능
        이후에 진행할 "질문 수정" 에서는 이 템플릿을 활용할 수가 없음
        왜냐하면 질문 수정일 경우에는 action 값을 달리해야 하기 때문 
        동일한 템플릿을 여러 기능에서 함께 사용할 경우에는 이처럼 form의 action 속성을 비워두는 기법을 종종 사용
        우리는 이후에 "질문 수정" 기능을 구현할 때도 question_form.html 템플릿을 사용할 것이므로 action 속성은 비움 -->

        {% csrf_token %}
        <!-- 아래는 {{ form.as_p }} 에서 자동으로 생성되는 HTML 대신 제목과 내용에 해당되는 HTML코드를 직접 작성    -->
        <!-- 오류표시 Start -->
        {% if form.errors %}    <!-- question_create 함수에서 form.is_valid() 가 실패할 경우 발생하는 오류의 내용을 표시하기 위해 오류를 표시하는 영역을 추가 -->
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">   <!-- 값을 대입해 주었는데 이것은 오류가 발생했을 경우 기존에 입력했던 값을 유지하기 위함 -->
                   <!-- 폼 데이터(form.subject.value)에 값이 없을 경우 None 이라는 문자열이 표시되는데 None 대신 공백으로 표시하라는 의미의 템플릿 필터 -->
                   <!-- 장고의 템플릿 필터는 |default_if_none:'' 처럼 | 기호와 함께 사용 -->
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <!-- form은 question_create 함수에서 전달한 QuestionForm의 객체 -->
        <!-- 폼에 정의한 subject, content 속성에 해당하는 HTML 코드를 자동으로 생성 -->
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
